.couleur{
    color: #000876;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 0px 10px 10px #ff9500;
}

.bouton1{
  background-color: #ff9500;
  color: #fff;
}
.bouton1:hover{
    background-color: #000876;
    color: #fff;
  }
.bouton2{
    border: #000876 2px solid;
}

@media only screen and (max-width: 768px) {
    .profile-img{
       display: none;
    }
    .debut{
        text-align: start;
    }
    .bouton-cv{
        width: 130px;
        height: 50px;
        font-size: 10px;
    }
}

.entete{
    /* color: #ff9500; */
    color: #000876;
    font-size: 30;
    font-weight: bold;
    margin-top: 100px;
}
.margintop{
    margin-top: 100px;
}
.entete2{
    /* color: #000876; */
    color: #ff9500;

}
.gradient{
    background-color: #000876;
}
.contact{
    background-color: #ff9500;
}
.couleurs{
    color: #000876;
}

.couleure{
    background-color: #000876;
}